:root {
  --clr-primary: #f0b065;
  --clr-primary-light: #ffc685;
  --clr-primary-dark: #a36f34;
  --clr-secondary-light: #65c7f0;
  --clr-secondary-dark: #247ea3;
  --clr-neutral-dark: #000;
  --clr-neutral-light: #fff;

  --ff-accent: 'Playfair Display', serif;
  --ff-primary: Roboto, sans-serif;
}

*,
*,::before,
*,::after {
  box-sizing: border-box;
}

h1, 
h2, 
h3 {
  font-family: var(--ff-accent);
  font-weight: 900;
}

body {
  background: linear-gradient(var(--clr-secondary-dark), var(--clr-primary-dark));
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1;
}

body,
#app,
#nav,
.home,
h1,
h2,
h3,
p {
    margin:0;
}

/* start of navigation styling */
#nav{
  position:fixed;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width:100%;
  padding-top:1em;
  padding-inline: 1rem;
  background:var(--clr-primary-light);
  z-index:9999;
  opacity:0.85;
}

.nav-logo{
  height: 3em;
  width: 3em;
  transform: translateY(-0.5em);
}

.nav-toggle:checked ~ .nav-link-container {
  transform: scale(1,1);
}

.nav-toggle:checked ~ label > img {
  transform: rotate(360deg);
}
.nav-toggle ~ label > img {
  position:inherit;
  margin-top:-0.5em;
  margin-bottom:0.5em;
  transform: rotate(0deg);
  transition: transform 1s ease;
}

.nav-toggle {
  display:none;
}

.nav-link-container {
  position:absolute;
  display:flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  background:var(--clr-primary-light);
  width: 100%;
  padding:1rem;
  gap:1rem;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

#nav > .nav-link-container > a {
  outline: none;
  text-decoration: none;
  padding-inline-end: 1rem;
}

#nav > .nav-link-container > a:link {
  color: var(--clr-secondary-dark);
}

#nav > .nav-link-container > a:visited {
  color: var(--clr-secondary-dark);
}

#nav > .nav-link-container > a:focus {
  color: var(--clr-neutral-light);
}

#nav > .nav-link-container > a:hover {
  color: var(--clr-neutral-light);
}

#nav > .nav-link-container > a:active {
  color: var(--clr-secondary-light);
  text-shadow: 0.02em 0.02em 0.05em var(--clr-neutral-light);
}

/* end of navigation styling */

/* start of home styling */
.home-container {
  background: linear-gradient(var(--clr-secondary-dark), var(--clr-primary-dark));
  display:block;
  height: 100%;
  width: 100%;
  padding:1rem;
  overflow: scroll;
}

.welcome-container {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 3rem;
  gap: 2em;
  color: var(--clr-primary-light);
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:1rem;
  margin:0;
}

.home > a {
  outline: none;
  text-decoration: none;
  width: 25rem;
  padding: 1rem;
}

.image-link-container {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

.image-link-container:hover {
  box-shadow: 0 0 1em rgba(255,255,255,0.5);
}

.centered {
  position: absolute;
  background: rgba(0,0,0,0.5);
  padding:20%;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end of home styling */

/* start of back button styling */
.go-back {
  display: flex;
  justify-content:center;
}

.go-back > button {
  background-color: rgba(255,255,255,0.65);
  font-family: var(--ff-accent);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1;
  padding:0.5em;
  border-radius:0.5em;
}
/* end of back button styling */

h1,
h2,
h3 {
  text-shadow: 0.05rem 0.05rem 0.1rem var(--clr-neutral-dark);
  margin-bottom: 1em;
}

img {
  display:block;
  width:100%;
}

.profile-img {
  margin: 1em;
  margin-bottom:0;
  height: 7em;
  width: 7em;
  border-radius: 50%;
  border: 2px solid var(--clr-primary-light);
}

.social-img-link {
  margin: 0.5em;
  margin-bottom:1em;
  height: 1.6em;
  width: 1.6em;
}

.image-caption {
  margin-top: 1em;
  text-align: center;
  font-size: small;
}

section {
  padding: 8rem 0;
}

section > div {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
}

.split {
  display: flex;
  flex-direction: column;
}

.split > div > * {
  margin-bottom: 5vh;
}

ul {
  display: flex;
  flex-direction: column;
  text-overflow: clip;
  align-items: center;
  justify-items: center;
  padding: 1em;
  padding-left: 2em;
  list-style-type: circle;
  border: 0.25em solid;
  border-color: var(--clr-primary);
  box-shadow: 0.1em 0.1em 0.2em var(--clr-neutral-dark);
  line-height: 1.2em;
}

.bg-primary {
  background: linear-gradient(var(--clr-secondary-dark), var(--clr-primary-dark));
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3 {
  color: var(--clr-primary-light);
}

.bg-primary > * {
  color: var(--clr-neutral-light);
}

@media (min-width:800px) {

  #nav,
  .nav-link-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-link-container {
    position: relative;
    margin-top: -1em;
    transform: scale(1,1);
  }
  
  .split{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .split > * {
    width: 37vw;
  }

  ul {
    padding: 2em;
    align-items: flex-start;
  }
}